body {
	width: 90%;
   margin: 10px auto;
   background-color: green;

}
img{
	max-width: 100%;
	max-height: 100%;
}
#nav{
	top:0;
	position:fixed;
	width:90%;
	display: flex;
	background-color: orange;
}
#nav_item{
	width:100%;
	text-align: center;
}
#project{
	float:center;
	text-align: center;
	background-color: orange;
	vertical-align: center;
	float: left;
}
#bio{
	float:center-left;
	text-align: center;
	background-color: blue;
	width: 30%;
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	margin: 0px auto;
	height: 100%;
}
#pic{
	width: 40%;
	text-align:center;
	background-color:pink;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	margin: 0px auto;
}
#contact{
	text-align: center;
	float:right;
	background-color: gray;
	width: 29%;
	vertical-align: top;
	padding: 0px;
	margin: 0px auto;
	height: 100%;
}
}